body {
    display: flex;
    height: 100dvh;
}

div {
    border: 1px solid black;
    padding: 2px;

}

@font-face {
    font-family: 'Norse-Bold';
    src: url(./Norse-Bold.otf);
}

.picture {
    width: 35%;
    background-image: url("./imgs/background.jpg");
    background-size: cover;
    position: relative;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    display:flex;
}

#pic-credit {
    position: absolute;
    bottom: 0;
    right: 10px;
}

img {
    height:auto;
    max-width: 100%;
}

.content {
    width: 65%;
}