body {
    display: flex;
    height: 100dvh;
    padding: 5px;
    justify-content: center;
}

div {
    padding: 2px;
}

@font-face {
    font-family: 'Norse-Bold';
    src: url(./Norse-Bold.otf);
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
    padding-left: 20px;
}

.picture {
    width: 35%;
    background-image: url("./imgs/background.jpg");
    background-size: cover;
    position: relative;
    background-position: center center;
    display: flex;
}

.logo {
    font-family: 'Norse-Bold';
    font-size: 6rem;
    border: 0;
    position: relative;
    top: 25%;
    flex-grow: 1;
    text-align: center;
    padding: 0;    
}

.logo p {
    background-color: rgba(231, 189, 189, 0.2);
}

#pic-credit {
    position: absolute;
    bottom: 0;
    font-size: 0.7rem;
}

img {
    height: 120px;
}

.form-row {
    display: flex;
    margin-bottom: 10px;
  }

  .form-row .column {
    flex: 1;
    padding: 0 5px;
  }

  .form-row .column input {
    width: 80%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  :focus {
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.5);
  }