body {
    display: flex;
    height: 100dvh;
    border: 2px black solid;
    padding: 5px;
    justify-content: center;
}

div {
    border: 1px solid black;
    padding: 2px;
}

@font-face {
    font-family: 'Norse-Bold';
    src: url(./Norse-Bold.otf);
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 0;
}


.picture {
    width: 35%;
    background-image: url("./imgs/background.jpg");
    background-size: cover;
    position: relative;
    background-position: center center;
    display: flex;
}


.logo {
    font-family: 'Norse-Bold';
    font-size: 6rem;
    border: 0;
    position: relative;
    top: 25%;
    flex-grow: 1;
    text-align: center;
    padding: 0;    
}

.logo p {
    background-color: rgba(231, 189, 189, 0.2);
}


#pic-credit {
    position: absolute;
    bottom: 0;
    right: 10px;
    font-size: 0.75rem;
}

img {
    height: 120px;
}

.content {
    width: 65%;
}

.blurp-container {
    width: 480px;
    flex: none;
}